.header {
  background-color: #181b26;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-btn {
  width: 204px;
  height: 62px;
  background-color: rgb(87, 184, 192);
  color: #e4e4e5;
  font-size: 25px;
  border-radius: 5px;
  margin-right: 95px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}
